body{
    font-family: tahoma;
    font-size: 1.2rem;
}
div#warpper{
    width: 80%;
    margin: 50px auto 0px auto;
}
div#warpper > div#button{
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    padding: 7px;

}
.black{
    color: white;
    background-color: black;
    
}
.white{
    color: black;
    background-color: white;
}